#--------------------------#
# Magento Default Files    #
#--------------------------#

/src/magento/htdocs/app/etc/local.xml

/src/magento/htdocs/media/*
!/src/magento/htdocs/media/.htaccess

!/src/magento/htdocs/media/customer
/src/magento/htdocs/media/customer/*
!/src/magento/htdocs/media/customer/.htaccess

!/src/magento/htdocs/media/dhl
/src/magento/htdocs/media/dhl/*
!/src/magento/htdocs/media/dhl/logo.jpg

!/src/magento/htdocs/media/downloadable
/src/magento/htdocs/media/downloadable/*
!/src/magento/htdocs/media/downloadable/.htaccess

!/src/magento/htdocs/media/xmlconnect
/src/magento/htdocs/media/xmlconnect/*

!/src/magento/htdocs/media/xmlconnect/custom
/src/magento/htdocs/media/xmlconnect/custom/*
!/src/magento/htdocs/media/xmlconnect/custom/ok.gif

!/src/magento/htdocs/media/xmlconnect/original
/src/magento/htdocs/media/xmlconnect/original/*
!/src/magento/htdocs/media/xmlconnect/original/ok.gif

!/src/magento/htdocs/media/xmlconnect/system
/src/magento/htdocs/media/xmlconnect/system/*
!/src/magento/htdocs/media/xmlconnect/system/ok.gif

/src/magento/htdocs/var/*
!/src/magento/htdocs/var/.htaccess

!/src/magento/htdocs/var/package
/src/magento/htdocs/var/package/*
!/src/magento/htdocs/var/package/*.xml

docker-compose.*.yml
